body{
    background-color:rgb(146, 203, 222)
    
    
}

h1{
    text-align: center;
}



img{
    margin: 3rem 6rem 6rem 9rem;
    width: 50rem;
    height: 30rem;
   
   
    
   
}


nav{
    background-color: rgb(53, 53, 53);
    height: 3.0em;
    text-align: center;
}

a{
    color: rgb(247, 153, 31);
    margin: .5em;
    padding: .5e;
    font-size: 1.8em;
    text-decoration: none;
}

a:hover{
    color: rgb(247, 153, 31);
    margin: .5em;
    padding: .5e;
    font-size: 2.2em;
    text-decoration: none;
}

.name{
    font-size: 1.5em;
}

footer{
    text-align: center;
    background-color: black;
}

.words{
  text-align: center;
}

.version{
  text-align: center;
}

.quote{
text-align: center;
}

#skateboard{
    
    margin: 3rem 6rem 6rem 20rem;
    width: 30%;
    height: 30%;
    border-radius: 10%;
   
    
    
}

#travel{
    margin: 3rem 6rem 6rem 20rem;
    width: 30%;
    height: 30%;
    border-radius: 10%;
    
}

#music{
    margin: 3rem 6rem 6rem 20rem;
    width: 30%;
    height: 30%;
    border-radius: 10%;
}

#first{
    margin: 3rem 6rem 6rem 20rem;
    width: 50rem;
    height: 30rem;
    border-radius: 50%;
}

#second{
    margin: 3rem 6rem 6rem 20rem;
    width: 50rem;
    height: 30rem;
    border-radius: 50%;
}

#third{
    margin: 3rem 6rem 6rem 20rem;
    width: 50rem;
    height: 30rem;
    border-radius: 50%;
}

#accomplish{
    text-decoration: underline;
}

.div{
    margin: 2em;
    display: flex;
    justify-content: center;
}

 .color{
   
    margin:100px
    
 }

 .travel2{
    text-align: center;
 }

 .music2{
    text-align: center;
 }

 .container{
    border: 10px solid rgb(246, 239, 239);
    width: 50%;
    text-align: center;
   
 }

 form{
   display: flex;
   justify-content: center;
   
 }
   
 .image-container{
    text-align: center;
 }
  
